
.container{
    width: 350px;
    height: 450px;
    background:rgb(255, 255, 255);
    top:20%;
    left:36%;
    position:absolute;
    box-sizing: border-box;
    padding: 80px 30px;
    opacity:.9;
    border: 3px solid rgba(98,189,42,1);
    border-radius: 15px;
    text-align: center;
}
.container header{
    margin-top: 15px;
    font-size: 20px;
    color: #808080;
    font-weight: bold;
}

.container form .error-text{
    padding:2% 1%;
    font-size: 100%;
    color: rgb(173, 68, 68);
    
}
.container form .field-entry{
    font-weight: bold;
    width:91.5%;
    height: 45px;
    margin: 10px 0;
    position:relative;
}
.container form .field-entry input{
    border: 1px solid lightgray;
    border-radius: 5px;
    width:100%;
    height:100%;
    font-size: 100%;
    padding-left: 20px;
    outline: none;
    position: relative;
}
.container form .field-entry input:focus{
    border-color:rgb(109, 189, 109);
    box-shadow: inset 0 0 3px green;
}
.container form .field-entry .show-password{
    position: absolute;
    left:242px;
    top:50%;
    transform: translateY(-40%);
    cursor:pointer;
}
.container form button{
    border: none;
    outline:none;
    height:40px;
    width: 100px;
    background:green;
    color: #fff;
    font-size:20px;
    border-radius:20px;
}
.container form button:hover{
    cursor:pointer;
    background:#a0c00f;
    color:#000;
}
.container form .field-entry a{
    font-size: larger;
    text-align: left;
    transform: translateX(-20%);
    position: absolute;
    transform: translateY(-120%);
}
i{
    position:absolute;
    right:10px;
    top:50%;
    transform: translateY(-40%);
    cursor:pointer;
}